<header class="header text-center">	    
    <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="/">Avoltech's Website</a></h1>
    
    <nav class="navbar navbar-expand-lg navbar-dark" >
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column" >
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="/assets/images/profile.jpeg" alt="image" >			
                
                <div class="bio mb-3">Hi, my name is Abhijeet Kalluray. I am I.T engineering graduate who is ready to code his way into the world.<br><a href="/about">Find out more about me</a></div><!--//bio-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/abhijeet-kalluray-a2989278/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/Avoltech?tab=repositories"><i class="fab fa-github-alt fa-fw"></i></a></li>   
                </ul><!--//social-list-->
                <hr> 
            </div><!--//profile-section-->
            
            <ul class="navbar-nav flex-column text-start">
                <li class="nav-item">
                    <a class="nav-link active" href="/"><i class="fas fa-home fa-fw me-2"></i>Homepage <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-bookmark fa-fw me-2"></i>Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"><i class="fas fa-user fa-fw me-2"></i>About Me</a>
                </li>
            </ul>
        </div>
    </nav>
</header>