<!DOCTYPE html>
<html>
    <head>
        {% include header.html %}
    </head>
    <body>

        <div class="main-wrapper">
            {% include sidebar.html %}
            {% include banner_note.html %}
            <section class="blog-list px-3 py-5 p-md-5">
                <div class="container single-col-max-width">

                {% for post in site.posts %}
                        <div class="item mb-5">
                            <div class="row g-3 g-xl-0">
                                <div class="col-2 col-xl-3">
                                    <img class="img-fluid post-thumb" src="{{ post.thumbImg }}" alt="image">
                                </div>
                                <div class="col">
                                    <h3 class="title mb-1"><a class="text-link" href="{{ post.url }}">{{ post.title }}</a></h3>
                                    <div class="intro">{{ post.intro }}</div>
                                    <a class="text-link" href="{{ post.url }}">Read more &rarr;</a>
                                </div><!--//col-->
                            </div><!--//row-->
                        </div><!--//item-->  
                    {% endfor %}
                    
                </div>
            </section>
            {% include footer.html %}

        </div>
    </body>
</html>